.breadcrumbs {

    &__list {
        font-weight: 400;
    }

    &__link a {
        text-decoration: none;
    }

    &__link {
        font-size: 3.2em;
    }

    &__slash {
        font-size: 3.2em;
        margin: 0 10px;
    }

    &-active {
        color: #F7931D;
    }
}

.page__title {
    margin-top: 50px;
    font-weight: 400;
    font-size: 8em;
}