.header {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(176,217,255,0.53);
    border-radius: 30px;
    max-width: 1480px;
    margin: 0 15px;
    padding: 10px 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.09), inset 63.9667px -63.9667px 63.9667px rgba(194, 194, 194, 0.1), inset -63.9667px 63.9667px 63.9667px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(37px);
    z-index: 5;
    &__logo {
        width: 200px;
        height: 100px;
        margin-right: 100px;
    }
    &__menu {
        width: 100%;
    }
}

.header-menu {
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }
    &__link {
        font-size: 3.2em;
        color: white;
        text-decoration: none;
        white-space: nowrap;
    }
}

.header__orange {
    background-color: #F7931D;
}

@media screen and (max-width: 1430px) {
    .header{
        &__logo {
            width: 150px;
            height: 75px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .header {
        background-color: transparent;
        box-shadow: none;
        backdrop-filter: none;
        justify-content: center;
        padding: 0;
        transition: .3s;
        border-radius: 10px;
		&__logo-link {
        }
		&__logo {
            margin-right: 0;
            width: 100px;
            height: 50px;
        }
		&__menu {}
        &_scroll {
            background-color: rgba(176,217,255,0.53);
            box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.09), inset 63.9667px -63.9667px 63.9667px rgba(194, 194, 194, 0.1), inset -63.9667px 63.9667px 63.9667px rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(37px);
        }
    }
    .header-menu {
        position: absolute;
        left: 10px;
        top: 9px;
        &__list {
            flex-direction: column;
            align-items: flex-start;
            background-color: #7DB9D3;
            border-radius: 10px;
            display: inline-flex;
            width: auto;
            max-width: 100px;
            transition: .3s;
        }
        &__elem {
            padding-right: 10px;
            padding-left: 10px;
            &:last-child{
                padding-bottom: 0;
            }
            &:not(.header-menu__burger-elem){
                opacity: 0;
                max-height: 0;
                max-width: 0;
                transition: .3s;
            }
        }
        &__link {
            text-align: left;
        }
        &__burger-elem {
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            
        }
        &__burger {
            width: 15px;
            height: 2px;
            border-radius: 1px;
            background-color: white;
            position: relative;
            transition: .3s;
            &::after {
                content: '';
                position: absolute;
                top: 5px;
                width: 15px;
                height: 2px;
                border-radius: 1px;
                background-color: white;
                transition: .3s;
            }
            &::before {
                content: '';
                position: absolute;
                bottom: 5px;
                width: 15px;
                height: 2px;
                border-radius: 1px;
                background-color: white;
                transition: .3s;
            }
        }

        &_active {
            & .header-menu {
                &__list {
                }
                &__elem {
                    padding-bottom: 5px;
                    &:last-child {
                        padding-bottom: 10px;
                    }
                }
                &__burger {
                    background-color: transparent;
                    &::after {
                        transform: rotate(45deg);
                        top: 0;
                    }
                    &::before {
                        transform: rotate(-45deg);
                        bottom: 0;
                    }
                }
                &__elem {
                    &:not(.header-menu__burger-elem){
                        opacity: 1;
                        max-height: 30px;
                        max-width: 150px;
                    }
                }
            }
        }
    }
}