.service {
    &__hero {
        display: flex;

        &-left {
            width: 63%;
        }

        &-right {
            width: 37%;
        }

        &-img {
            transform: translate(15%, 0);
            width: 650px;
        }

        &-buttons {
            display: flex;
            gap: 100px;
            margin-top: 100px;
        }
    }

    &__subtitle {
        font-size: 3.2em;
        width: 90%;
        margin-top: 40px;
    }

    &__list {
        margin-top: 60px;
        width: 90%;

        &-first {
            margin-top: 90px;
        }

        &-title {
            font-size: 3.2em;
        }

        &-text {
            font-size: 2em;
            margin: 20px 0px 0px 30px;
        }
    }

    &__content {
        
        margin-top: 100px;

        &-title {
            font-family: 'Montserrat';
            font-size: 4em;
            margin-top: 70px;
        }

        &-text {
            margin-top: 30px;
            font-size: 2.5em;
        }

        &-subtext {
            margin-top: 15px;
            font-size: 2em;
        }

        &-list {
            margin-left: 30px;
        }

        &-tile {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }
    }
    
    &__packets {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;

        margin-top: 70px;

        &-item {

            padding: 45px 30px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            background: rgba(176, 217, 255, 0.53);
            box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.09), inset 63.9667px -63.9667px 63.9667px rgba(194, 194, 194, 0.1), inset -63.9667px 63.9667px 63.9667px rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(37.7403px);
            /* Note: backdrop-filter has minimal browser support */
            
            border-radius: 32px;

        }

        &-button {
            margin-top: 50px;
            width: 300px;
        }

        &-price {
            font-size: 2.5em;
        }
    }

    &__options {
        width: 100%;

        margin-top: 150px;
        padding: 60px 100px 40px 40px;

        background: rgba(176, 217, 255, 0.53);
        box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.09), inset 63.9667px -63.9667px 63.9667px rgba(194, 194, 194, 0.1), inset -63.9667px 63.9667px 63.9667px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(37.7403px);

        border-radius: 32px;

        &-title {
            font-size: 7em;
        }

        &-list {
            margin-bottom: 60px;
        }

        &-btn {
            display: flex;
            justify-content: flex-end;
        }

    }
}

#service {

    &__packets {

        &-optimal {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        &-business {
            grid-column-start: 1;
            grid-column-end: 2;
        }

        &-key {
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }
}

.options {

    &__list {


        &-item {
            margin-top: 30px;
            border-bottom: 1px solid #FFFFFF;
            padding-bottom: 20px;
        }

        &-head {
            display: grid;
            grid-template-columns: 60% 20% 20%;
            grid-template-rows: 60px 30px;
        }
    
        &-title {
            font-family: 'Montserrat';
            font-weight: 200;
            font-size: 3em;
        }

        &-subtitle {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 2;
            font-size: 1.6em;
            margin-top: 15px;
            margin-left: 50px;
        }

        &-price {
            font-size: 3.6em;
        }

        &-first {
            display: flex;
            align-items: center;
            gap: 30px;

        }

        &-second {
            text-align: center;
        }

        &-third {
            text-align: right;
        }

        &-counter {
            display: flex;
            align-items: center;
            justify-content: center;

            margin-bottom: 10px;
        }

        &-count {
            font-size: 2em;
            width: 60px;
            background-color: transparent;
            color: #fff;
            text-align: center;
            outline: none;
            border: 1px solid #fff;
            margin: 0px 5px;

            height: 40px;
        }

        &-count::-webkit-outer-spin-button,
        &-count::-webkit-inner-spin-button {
            display: none;
        }

        &-minus {
            width: 30px;
            padding: 0;
            text-align: center;
            border: none;
            background-color: transparent;
            font-size: 4em;
            font-weight: 200;
            line-height: 100%;
            height: 100%;

            color: #fff;

            cursor: pointer;
        }
        
        &-plus {
            width: 30px;
            padding: 0;
            text-align: center;
            border: none;
            background-color: transparent;
            font-size: 4em;
            font-weight: 200;
            line-height: 100%;
            height: 100%;

            color: #fff;

            cursor: pointer;
        }

        &-checkbox {
            width: 20px;
            height: 20px;
            background-color: transparent;
            border-radius: 50%;
            vertical-align: middle;
            border: 1px solid #fff;
            appearance: none;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
        }

        &-checkbox:checked {
            background-color: white;
        }

        &-desc {
            font-size: 1.5em;
            width: 100%;
        }

    }
}

.content__tile {
    &-item {
        font-size: 2.5em;
        flex: 0 0 500px;
    }
}

.service__accordeon {
        margin-bottom: 30px;

    
      
      &-content-wrapper {
        font-weight: 400;
        font-size: 2em;
        max-height: 0px;
        overflow: hidden;
        transition: .4s ease-in-out;
      }
      
      &-title {
        cursor: pointer;
        display: block;
        font-weight: 500;
        font-size: 2.5em;
        line-height: 39px;
        padding: 30px 0 0 0;
        position: relative;
        margin-bottom: 0;
        transition: all .4s ease-out;
      }
      
      &-title-last {
          padding-bottom: 30px;
      }
      
      &-title::after {
        border-style: solid;
        border-width: 1px 1px 0 0;
        content: " ";
        display: inline-block;
        margin-left: 30px;
        height: 10px;
        left: 2px;
        position: relative;
        right: 20px;
        transform: rotate(135deg);
        transition: .6s ease-out;
        width: 10px;
      }
      
      /* OPTIONAL HOVER STATE */
      
      &-trigger:checked
        + &-title
        + &-content-wrapper {
        max-height: 5000px;
      }
      
      &-trigger:checked + &-title::after {
        transform: rotate(-45deg);
        transition: .3s ease-in-out;
      }
      
      &-trigger {
        display: none;
      }
}

@media (max-width: 1100px) {
    .service {

        margin-top: 0;

        &__hero {
            &-img {
                transform: translate(0%, 5%);
                width: 400px;
            }

            &-buttons {
                margin-top: 30px;
                gap: 30px;
            }
        }

        &__list {
            margin-top: 40px;
        }

        &__content {

            margin-top: 30px;

            &-title {
                margin-top: 30px;
            }
        }

        &__options {
            padding: 20px 40px;

            &-list {
                margin-bottom: 30px;
            }
        }
    }

    .options {
        &__list {

            &-item {
                margin-top: 30px;
            }

            &-third {
                display: flex;
                justify-content: right;
                align-items: center;
            }
        }
    }

    .content__tile-item {
        flex: 0 0 300px;
    }
    
}

@media (max-width: 870px) {

    .service {
        &__packets {
            gap: 30px 0;
        }
    }

    #service {

        &__packets {
    
            &-optimal {
                grid-column-start: 1;
                grid-column-end: 3;
            }
    
            &-business {
                grid-column-start: 1;
                grid-column-end: 3;
            }
    
            &-key {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }

}
@media (max-width: 768px) {
    .service {
        &__hero {
            
            &-right {
                display: none;
            }

            &-left {
                width: 100%;
            }
        }

        &__subtitle {
            font-size: 4em;
        }

        &__list {

            margin-top: 20px;

            &-title {
                font-size: 4em;
            }

            &-text {
                margin: 10px 0px 0px 10px;
                font-size: 3em;
            }

            &-first {
                margin-top: 40px;
            }
        }

        &__content {
            &-list {
                margin-left: 15px;
            }

            &-tile {
                display: block;
                margin-top: 10px;
                width: 80%;
            }

            &-text {
                font-size: 3em;
            }
        }

        &__options {
            margin-top: 30px;
            padding: 15px;

            &-title {
                text-align: center;
            }

            &-list {
                margin-bottom: 30px;
            }
        }

        &__packets {
            &-button {
                margin-top: 50px;
                width: 200px;
            }
        }
    }

    .options {

        &__list {
            &-count {
                width: 25px;
                height: 25px;
            }

            &-subtitle {
                margin-left: 20px;
                font-size: 2em;
            }

            &-first {
                gap: 10px;
            }

            &-price {
                font-size: 3em;
            }

            &-title {
                font-size: 3em;
                margin-right: 10px;
            }

            &-checkbox {
                width: 10px;
                height: 10px;
            }

            &-item {
                margin-top: 10px;
                padding-bottom: 10px;
            }

            &-head {
                display: grid;
                grid-template-columns: 70% 30% 100%;
                grid-template-rows: 50px 50px;
            }

            &-nocounter {
                grid-template-columns: 70% 30%;
                grid-template-rows: 30px;
            }

            &-first {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 1;
            }

            &-third {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 1;
            }

            &-second {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 2;

                text-align: right;
            }

            &-subtitle {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 2;
            }

            &-counter {
                justify-content: flex-end;
            }

            &-plus {
                width: 10px;
            }
            
            &-minus {
                width: 10px;
            }
        }
    }

    .content {
        &__tile {
            &-item {
                margin-top: 10px;
                font-size: 3em;
            }
        }
    }

    .page__title {
        text-align: center;
    }

    .service__accordeon {
        
        &-title {

            padding: 0;

            &:after {
                width: 5px;
                height: 5px;
                margin-left: 10px;
            }
        }
    }
}