.blog {
    &__posts {
        display: grid;
        grid-template-columns: 40% 30% 30%;
        gap: 50px;

        padding-top: 350px;
    }

    &__post-item {
        text-decoration: none;
    }

    &__post-item:hover .blog__card-img img {
        transform: scale(1.05);
        cursor: pointer;   
    }

    &__post-item:hover .blog__card-title {
        opacity: 0.7;
    }
}

.blog__card {

    &-img {
        overflow: hidden;
        border-radius: 20px;

        margin-bottom: 30px;
        height: 350px;
    }

    &-img img {
        width: 100%;
        margin-bottom: 20px;
    
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 20px;
        height: 350px;

        transition: .4s;
    }

    &-title {
        font-weight: 400;
        font-size: 32px;

        transition: .4s;
    }
}