.blog {
    &__posts {
        display: grid;
        grid-template-columns: 4fr 3fr 3fr;
        gap: 50px;

        padding-top: 350px;
    }

    &__post-item {
        text-decoration: none;
    }

    &__post-item:hover .blog__card-img img {
        transform: scale(1.05);
        cursor: pointer;   
    }

    &__post-item:hover .blog__card-title {
        opacity: 0.7;
    }
}

.blog__card {

    &-img {
        overflow: hidden;
        border-radius: 20px;

        margin-bottom: 30px;
        height: 350px;
    }

    &-img img {
        width: 100%;
        margin-bottom: 20px;
    
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 20px;
        height: 100%;

        transition: .4s;
    }

    &-title {
        font-weight: 400;
        font-size: 3.2em;

        transition: .4s;
    }
}

@media screen and (max-width: 1100px) {
    .blog {
		&__posts {
            padding-top: 150px;
            padding-bottom: 30px;
            display: flex;
            grid-template-columns: unset;
            gap: unset;
            
        }
		&__post-item {}
		&__card {
            display: block;
            width: 290px;
            &_first {
                width: 460px;
            }
        }
		&__card-img {
            height: 270px;
        }
		&__card-title {}
    }
    .decor {
        &__heading {}
    }
}

@media screen and (max-width: 768px) {
    .blog {
		&__posts {
            padding-top: 100px;
        }
		&__post-item {}
		&__card {
            width: 190px;
            &_first {
                width: 260px;
            }
        }
		&__card-img {
            height: 170px;
        }
		&__card-title {}
    }
    .decor {
        &__heading {}
    }
}