.about {
    display: flex;
    justify-content: space-between;
    margin-top: 500px;

    &__left {
        width: 70%;
        padding-top: 500px;
        margin-bottom: 70px;
    }

    &__right {
        width: 30%;
        padding-top: 500px;
    }

    &__description {
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
    }

    &__image {
        transform: translate(0, -15%);
        width: 650px;
    }

    &-progress {
        margin-top: 70px;
        margin-bottom: 100px;
        width: 55%;
    }

    &-progress__bar {
        margin-top: 30px;
    }

    &-progress__header {
        font-weight: 500;
        font-size: 40px;
    }

    &-progress__bar-outer {
        width: 100%;
        height: 14px;
        border-radius: 45px;
        background: white;
    }

    &-progress__bar-inner {
        height: 14px;
        border-radius: 45px;
        background: #F7931D;;
    }

    &-progress-bar__header {
        font-weight: 400;
        font-size: 30px;
        line-height: 49px;
    }
}

#progress__bar {
    &-web {
        width: 100%;
    }

    &-design {
        width: 75%;
    }

    &-prog {
        width: 66%;
    }

    &-marketing {
        width: 100%;
    }
}