// Переменные, миксины, функции
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

// CSS-файлы библиотек
@import "vendor/libs";

// Основное
@import "base/fonts";
@import "base/general";

// БЭМ-блоки
@import "../blocks/modules";

html, body {
    overflow-x: hidden;
}

.container {
    margin: auto;
    padding: 15px;
    max-width: 1400px;
}