.single-post {

    margin-top: 60px;

    &__title {
        font-size: 9.2em;
    }

    &__main {
        display: flex;
        justify-content: space-between;

        gap: 70px;
    }

    &__info {
        flex: 0 0 650px;
    }

    &__img {
        box-shadow: 0px 300px 100px -100px rgba(34, 60, 80, 0.75) inset;
        aspect-ratio: 1 / 1;
    }

    &__img img {
        width: 100%;

        border-radius: 20px;
    }

    &__category {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 3.5em;

        width: 170px;

        background: #F7931D;
        border-radius: 20px;
        padding: 10px 13px;
        margin-top: 30px;
    }

    &__date {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 280px;

        font-size: 3em;
        font-weight: 600;
        padding: 5px 13px;
        margin-top: 50px;

        border: 1px solid #fff;
        border-radius: 20px;
    }

    &__content {
        margin-top: 80px;

        width: 70%;

        p {
            font-size: 2.5em;
        }

        img {
            margin: 30px 0;
            width: 100%;
        }
    }
}

@media (max-width: 1100px) {
    .single-post {
        &__main {
            gap: 30px;
        }

        &__info {
            flex: 0 0 350px;
        }
    }
}

@media (max-width: 768px) {
    .single-post {
        
        &__main {
            display: block;
        }

        &__title {
            margin-top: 15px;
        }

        &__meta {
            display: flex;
            width: 100%;

            gap: 30px;
        }

        &__date {
            padding: 10px 13px;

            font-size: 3.5em;
            margin-top: 30px;

            flex: 0 0 100px;
        }

        &__category {
            padding: 5px 13px;

            flex: 0 0 100px;
        }

        &__content {
            margin-top: 40px;
            width: 100%;

            img {
                margin: 15px 0;
            }
        }
    }
}